.container {
  background-color: var(--white);
  width: 100%;
  padding: 1.6rem;
  border-radius: 6px;
  box-shadow: 5px 5px 15px 0px rgba(91, 164, 164, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
