:root {
  // Primary
  --primary: #5ba4a4;
  
  // Neutral
  // - Light Grayish Cyan (Background): 
  --cyan-light: hsl(180, 52%, 96%);

  // Light Grayish Cyan (Filter Tablets)
  --cyan-medium: hsl(180, 31%, 95%);

  // Dark Grayish Cyan
  --cyan-medium-dark: hsl(180, 8%, 52%);

  // Very Dark Grayish Cyan
  --cyan-dark: hsl(180, 14%, 20%);

  // white backgrounds
  --white: #fff;
}