.headerBackground {
  background-image: url("/assets/bg-header-desktop.svg");
  height: 156px;
  width: 100%;
  background-repeat: repeat-x;
  background-position: top;
  background-color: var(--primary);
}
