.app {
  min-height: 100vh;
  background-color: var(--cyan-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/bg-header-desktop.svg");
  background-repeat: repeat-x;
  background-position: top;
}
